body{
    background-color: #e9ecef;
}

hr{
    padding: .5rem, 0rem, .5rem;
}

/*SECTIONS*/
#stats{
    background-color: #ffffff;
    background-size: 200%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6{
    padding: 0px;
}

.row{
    margin:0px;
}

.jumbotron{ 
    background: url(../images/backgrounds/rink02.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1em solid #000000;
}

.jumbotron .container{
    padding-top: 3em;
    text-align: center;
}

.jumbotron img{
    width: 60%;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.main-section{
    margin: auto;
    width: 60%;
}

#home{
    margin: auto;
    width: 60%;
    background-color: #ffffff;
}

#home h1{
    text-align: center;
}

.stat-title{
    font-size: 1.9rem;
}
.stat-subtitle{
    font-size: 1.6rem;
    text-align: center;
    background-color: #d5202b;
    color: #e9ecef;
    font-weight: bold;
    margin: 0px -15px 0px;
    padding: 2px 20px 2px;
}

.stat-info{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 7px 10px;
}

.bold{
    font-weight: bold;
}

.left{
    text-align: left;
}






/*MEDIA STYLE*/


@media screen and (max-width: 992px){
    .main-section{width: 80%;}

    .stat-title{
        font-size: 1.7rem;
    }
    .stat-subtitle{
        font-size: 1.4rem;
        margin: 0px -10px 0px;
        padding: 2px 15px 2px;
    }
    .stat-info{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px){
    .main-section{width: 85%;}

    .stat-title{
        font-size: 1.5rem;
    }
    .stat-subtitle{
        font-size: 1.2rem;
        margin: 0px -5px 0px;
        padding: 2px 10px 2px;
    }
    .stat-info{
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 576px){
    .main-section{width: 90%;}

    .stat-title{
        font-size: 1.3rem;
    }
    .stat-subtitle{
        font-size: .8rem;
        margin: 0px 0px 0px;
        padding: 2px 5px 2px;
    }
    .stat-info{
        font-size: .8rem;
    }
}

