.Bitola{
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 5px;
}

.Lerin{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.Ohrid{
    background-color: #d5202b;
    color: #ffffff;
    border: 2px solid #ffff00;
    border-radius: 5px;
}

.Solun{
    background-color: #ffff00;
    color: #000000;
    border: 2px solid #d5202b;
    border-radius: 5px;
}

.team-players .row{
    padding: 0px 0px 2px;
}

.teams-subtitle{
    font-size: 1.6rem;
    text-align: center;
    background-color: #919191;
    color: #e9ecef;
    font-weight: bold;
    margin: 0px 0px 2px;
    padding: 2px 2px 2px;
}